/* ================================================================
  Stylesheet für Navigation
  ============================================================== */

.site-nav ul {
   list-style-type: none;
}

.site-nav a {
   text-decoration: none;
   color: #005580;
   padding-top: 0.5rem;
}

.site-nav a:link {
   color: #005580;
}

.site-content a:visited {
   color: #005580;
}

.site-nav a:focus {
   background: #0b74b8;
   color: white;
}

.site-nav a:active {
   color: red;
}

.nav_current_link {
   background: #0b74b8;
   color: white !important;
}
